.square{
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    height: 100%;
}

#gridContainer{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}